<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         cacheResult="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
         bootstrap="bootstrap.php"
        >
  <testsuites>
        <testsuite name="Locadora Test Suite">
            <directory suffix="Test.php">.</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="ENV_TYPE" value="TEST" force="true" />
    </php>
</phpunit>