<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         cacheResult="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
         bootstrap="../vendor/autoload.php"
        >
  <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">.</directory>
        </testsuite>
    </testsuites>
</phpunit>